.status-idcard-offline {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ff4d4d;
  margin-top: 20px;
}
.error-msg {
  color: #c07070;
  font-size: 20px;
  font-weight: 500;
}

table tbody tr td {
  font-size: 26px;
}
.set-center{
  display: flex;
  align-items: center;
  justify-content: center;
}