.status-printer-offline{
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff4d4d;
  margin-top: 20px;
}
table tr td {
  border: solid 1px #e1e1e1;
}
table tr td {
  padding: 5px;
  font-size: 14px;
}
.status-ok {
  color: #29a729;
  font-weight: 700;
}

.status-error {
  color: #eb4141;
  font-weight: 700;
}

.status-warning {
  color: #cc7e0b;
  font-weight: 700;
}