.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron {
  margin-bottom: 0rem;
  color: #ffffff;
  background-color: #333333;
  border-radius: 0rem;
}
.container {
  text-align: center;
  /* margin-right: 0;
  margin-left: 0; */
}
.navbar-printer {
  text-align: center;
  background-color: #111215;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: .5rem;
  /* margin-bottom: .5px; */
}

.dropdown-toggle {
  font-size: 2rem;
  color: #ffffff;
}

.home {
  background-color: #333333;
}

.pull-right {
  padding-right: 15px;
  float: right !important;
}

.text-color {
  color: #000000;
}

.font-size-navbar {
  font-size: 25px;
}

.text-id-card {
  text-align: right;
  color: #000000;
}

.address {
  height: 150px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box.box-primary {
  border-top-color: #bfd7ea;
}

.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

fieldset.scheduler-border {
  border: 2px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
          box-shadow:  0px 0px 0px 0px #000;
  background-color: #fff;
}

legend.scheduler-border {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width:auto;
  padding:0 10px;
  border-bottom:none;
}

div.fixed-right {
  position: fixed;
  text-align: right;
  bottom: 0;
  right: 0;
  width: 300px;
  padding-bottom: 15px;
  padding-right: 10px;
  /* border: 3px solid #73AD21; */
}

div.fixed-left {
  position: fixed;
  text-align: left;
  bottom: 0;
  
  width: 300px;
  padding-bottom: 15px;
  padding-left: 10px;
  /* border: 3px solid #73AD21; */
}

input.size {
  font-size: 25px;
  border: 3px solid black;
}

.status-printer-offline{
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff4d4d;
  margin-top: 20px;
}
